In [53]:
import pandas as pd
import numpy as np
import seaborn as sns
from IPython.display import clear_output
import matplotlib.pyplot as plt

# 1. Preprocess household survey and FIAT data

### Paths to data

In [54]:
pdir = r'p:\11210264-001-just-equitable-paths'
survey = pdir + r"/wellbeing/data/2-interim/hh.csv" 
fiat_ead = pdir + r"/wellbeing/data/1-external/FIAT/total_risk_resorts.csv" # EAD
fiat_str = pdir + r"/wellbeing/data/3-input/resorts_structure_risk.csv" # max pot damage: structure

### Load data into dataframes and load configuration file

In [55]:
df_survey = pd.read_csv(survey)
df_fiat_ead = pd.read_csv(fiat_ead)
df_fiat_str = pd.read_csv(fiat_str)

import tomli
with open("Paramaribo.toml", mode="rb") as fp:
    config = tomli.load(fp)

### FIAT data

In [56]:
# combine fiat data into a single dataframe
# rename column
df_fiat_ead = df_fiat_ead.rename(columns={'Resort name' : 'resort', 'Total risk': 'EAD'})
df_fiat = df_fiat_ead.merge(df_fiat_str, on="resort")

# convert USD to SRD
df_fiat['EAD'] = df_fiat['EAD'] / config['SRD_to_USD']
df_fiat['max_pot_dam_str'] = df_fiat['max_pot_dam_str'] / config['SRD_to_USD']
df_fiat
df_survey.resort.value_counts()

resort
0703 Munder (Paramaribo)          69
0701 Blauwgrond (Paramaribo)      51
0707 Welgelegen (Paramaribo)      40
1004 De Nieuwe Grond (Wanica)     23
0711 Pontbuiten (Paramaribo)      23
0708 Tammenga (Paramaribo)        17
0704 Centrum (Paramaribo)         16
0702 Rainville (Paramaribo)        9
0706 Weg naar Zee (Paramaribo)     7
1007 Domburg (Wanica)              6
0709 Flora (Paramaribo)            6
0104 Centrum (Brokopondo)          3
0712 Livorno (Paramaribo)          1
Name: count, dtype: int64

### Household survey data

In [57]:
# Match resort names from survey data with fiat data
# drop 0104 Centrum (Brokopondo) from survey data as it is not present in fiat data
# df_survey.drop(df_survey.loc['resort', '0104 Centrum (Brokopondo)'].index, inplace=True)

resort_dict={
    "0703 Munder (Paramaribo)": "Munder",
    "0701 Blauwgrond (Paramaribo)": "Blauwgrond",
    "0707 Welgelegen (Paramaribo)": "Welgelegen",
    "1004 De Nieuwe Grond (Wanica)": "De Nieuwe Grond",
    "0711 Pontbuiten (Paramaribo)": "Pontbuiten",
    "0708 Tammenga (Paramaribo)": "Tammenga",
    "0704 Centrum (Paramaribo)": "Centrum",
    "0702 Rainville (Paramaribo)": "Rainville",
    "0706 Weg naar Zee (Paramaribo)": "Weg naar Zee",
    "1007 Domburg (Wanica)": "Domburg",
    "0709 Flora (Paramaribo)": "Flora",
    # "0104 Centrum (Brokopondo)": "", # skip this one!
    "0712 Livorno (Paramaribo)": "Livorno",
}

df_survey['resort'] = df_survey['resort'].map(resort_dict)
df_survey.resort.value_counts(dropna=False)  # why do I have so many NaN (906)? Bramka has 1265 rows without nans!
df_survey = df_survey.dropna(subset='resort')
df_survey

,hhid,hh_size,ind_weight,tot_weight,food_pc,nonfood_pc,cons_pc,poor_extreme,poor_all,dwelling_type,...,k,v,aeexp,opt,reco_rate,isBankrupt,c_t,w_final,c_loss,weeks_pov
0,1010031.0,3.0,90.480056,271.440167,1241.220986,1039.781189,2281.002175,Not extreme poor,Not poor,House,...,3242.834993,0.25,6843.006526,"[8.109999999999872, True]",8.11,True,6843.006526,-658.144625,2.364739e+06,1
1,1010041.0,3.0,90.480056,271.440167,779.129631,951.923842,1731.053472,Not extreme poor,Not poor,House,...,2748.688708,0.25,5193.160417,"[7.169999999999892, True]",7.17,True,5193.160417,-755.484728,1.986781e+06,1
2,1010051.0,2.0,90.480056,180.960112,1042.129765,918.910652,1961.040417,Not extreme poor,Not poor,House,...,2223.658281,0.25,3922.080833,"[6.569999999999904, True]",6.57,True,3922.080833,-868.897059,1.598229e+06,2
3,1010061.0,3.0,90.480056,271.440167,1784.200546,918.903242,2703.103788,Not extreme poor,Not poor,House,...,61.768286,0.25,8109.311363,"[9.999999999999831, False]",10.00,False,8109.311363,-594.081919,4.584554e+04,0
4,1010121.0,2.0,90.480056,180.960112,2016.660732,1535.621368,3552.282099,Not extreme poor,Not poor,House,...,2470.731423,0.25,7104.564199,"[9.999999999999831, False]",10.00,False,7104.564199,-640.800966,1.833821e+06,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
890,20005021.0,3.0,123.163744,369.491232,380.220200,344.108825,724.329026,Not extreme poor,Poor,House,...,3403.432535,0.50,2172.987077,"[1.1200000000000008, True]",1.12,True,2172.986981,-1227.918480,4.645273e+06,14
891,20005041.0,1.0,123.163744,123.163744,504.078716,1068.269039,1572.347755,Not extreme poor,Not poor,House,...,1575.091282,0.50,1572.347755,"[1.6500000000000012, True]",1.65,True,1572.347755,-1406.342183,2.160758e+06,14
892,20005121.0,2.0,123.163744,246.327488,726.615137,806.950749,1533.565885,Not extreme poor,Not poor,House,...,1914.816853,0.70,3067.131770,"[2.0899999999999994, True]",2.09,True,3067.131770,-1008.085582,3.693043e+06,5
893,20005151.0,10.0,123.163744,1231.637439,97.658371,113.253635,210.912006,Extreme poor,Poor,House,...,1439.201054,0.70,2109.120061,"[1.8300000000000014, True]",1.83,True,2109.120061,-1215.823791,2.768843e+06,9
904,20053092.0,4.0,111.584687,446.338748,411.392475,2769.377911,3180.770386,Not extreme poor,Not poor,House,...,31269.576892,0.25,12723.081543,"[1.5900000000000012, True]",1.59,True,12723.081543,-509.626927,2.143595e+07,2

In [58]:
# is this not per capita weighted? instead of hh weighted?
df_survey['k_weighted'] = df_survey['k'] * df_survey['ind_weight']
df_survey['dk_weighted'] = df_survey['k_weighted'] * df_survey['v']
df_survey

,hhid,hh_size,ind_weight,tot_weight,food_pc,nonfood_pc,cons_pc,poor_extreme,poor_all,dwelling_type,...,aeexp,opt,reco_rate,isBankrupt,c_t,w_final,c_loss,weeks_pov,k_weighted,dk_weighted
0,1010031.0,3.0,90.480056,271.440167,1241.220986,1039.781189,2281.002175,Not extreme poor,Not poor,House,...,6843.006526,"[8.109999999999872, True]",8.11,True,6843.006526,-658.144625,2.364739e+06,1,2.934119e+05,73352.972791
1,1010041.0,3.0,90.480056,271.440167,779.129631,951.923842,1731.053472,Not extreme poor,Not poor,House,...,5193.160417,"[7.169999999999892, True]",7.17,True,5193.160417,-755.484728,1.986781e+06,1,2.487015e+05,62175.376937
2,1010051.0,2.0,90.480056,180.960112,1042.129765,918.910652,1961.040417,Not extreme poor,Not poor,House,...,3922.080833,"[6.569999999999904, True]",6.57,True,3922.080833,-868.897059,1.598229e+06,2,2.011967e+05,50299.181342
3,1010061.0,3.0,90.480056,271.440167,1784.200546,918.903242,2703.103788,Not extreme poor,Not poor,House,...,8109.311363,"[9.999999999999831, False]",10.00,False,8109.311363,-594.081919,4.584554e+04,0,5.588798e+03,1397.199482
4,1010121.0,2.0,90.480056,180.960112,2016.660732,1535.621368,3552.282099,Not extreme poor,Not poor,House,...,7104.564199,"[9.999999999999831, False]",10.00,False,7104.564199,-640.800966,1.833821e+06,0,2.235519e+05,55887.979269
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
890,20005021.0,3.0,123.163744,369.491232,380.220200,344.108825,724.329026,Not extreme poor,Poor,House,...,2172.987077,"[1.1200000000000008, True]",1.12,True,2172.986981,-1227.918480,4.645273e+06,14,4.191795e+05,209589.746624
891,20005041.0,1.0,123.163744,123.163744,504.078716,1068.269039,1572.347755,Not extreme poor,Not poor,House,...,1572.347755,"[1.6500000000000012, True]",1.65,True,1572.347755,-1406.342183,2.160758e+06,14,1.939941e+05,96997.069672
892,20005121.0,2.0,123.163744,246.327488,726.615137,806.950749,1533.565885,Not extreme poor,Not poor,House,...,3067.131770,"[2.0899999999999994, True]",2.09,True,3067.131770,-1008.085582,3.693043e+06,5,2.358360e+05,165085.208774
893,20005151.0,10.0,123.163744,1231.637439,97.658371,113.253635,210.912006,Extreme poor,Poor,House,...,2109.120061,"[1.8300000000000014, True]",1.83,True,2109.120061,-1215.823791,2.768843e+06,9,1.772574e+05,124080.173047
904,20053092.0,4.0,111.584687,446.338748,411.392475,2769.377911,3180.770386,Not extreme poor,Not poor,House,...,12723.081543,"[1.5900000000000012, True]",1.59,True,12723.081543,-509.626927,2.143595e+07,2,3.489206e+06,872301.487335

In [59]:
df_survey[['k_weighted', 'dk_weighted']]

       k_weighted    dk_weighted
0    2.934119e+05   73352.972791
1    2.487015e+05   62175.376937
2    2.011967e+05   50299.181342
3    5.588798e+03    1397.199482
4    2.235519e+05   55887.979269
..            ...            ...
890  4.191795e+05  209589.746624
891  1.939941e+05   96997.069672
892  2.358360e+05  165085.208774
893  1.772574e+05  124080.173047
904  3.489206e+06  872301.487335

[268 rows x 2 columns]

### Combine household survey with FIAT data

In [60]:
# groupby resorts
df_resort_capital = df_survey[['resort', 'k_weighted', 'dk_weighted']].groupby('resort').sum().reset_index()
df_resort_capital

             resort    k_weighted   dk_weighted
0        Blauwgrond  3.567632e+07  1.124027e+07
1           Centrum  3.633690e+06  1.482491e+06
2   De Nieuwe Grond  3.031951e+06  1.102171e+06
3           Domburg  2.442162e+06  7.621918e+05
4             Flora  2.371345e+06  6.192900e+05
5           Livorno  3.763375e+05  2.069856e+05
6            Munder  2.370158e+07  9.194636e+06
7        Pontbuiten  5.726437e+06  2.138974e+06
8         Rainville  3.691796e+06  1.265357e+06
9          Tammenga  4.478424e+06  1.598133e+06
10     Weg naar Zee  1.028873e+06  2.774029e+05
11       Welgelegen  1.251902e+07  4.145935e+06

In [61]:
df_fiat['EAD'] / df_fiat['max_pot_dam_str']

0     8.580475e-06
1     1.650359e-05
2     6.970493e-06
3     1.125782e-05
4     5.600870e-06
5     4.951133e-05
6     4.445065e-06
7     1.619372e-06
8     3.038679e-06
9     1.386572e-06
10    9.721527e-07
11    3.683294e-06
12    2.540826e-05
13    8.833802e-07
14    9.030190e-06
15    5.012800e-05
16    5.802075e-06
17    1.864470e-05
18    6.332415e-06
dtype: float64

In [62]:
df_resort_capital['dk_weighted'] / df_resort_capital['k_weighted']

0     0.315062
1     0.407985
2     0.363519
3     0.312097
4     0.261156
5     0.550000
6     0.387933
7     0.373526
8     0.342748
9     0.356852
10    0.269618
11    0.331171
dtype: float64

In [63]:
df_fiat

             resort           EAD  max_pot_dam_str
0          Lelydorp  7.622022e+06     8.882983e+11
1           Domburg  5.047360e+06     3.058341e+11
2          Houttuin  5.095806e+06     7.310538e+11
3            Latour  5.934494e+06     5.271444e+11
4        Koewarasan  4.864846e+06     8.685874e+11
5        Beekhuizen  2.168557e+07     4.379921e+11
6             Flora  2.021401e+06     4.547518e+11
7          Tammenga  7.381388e+05     4.558179e+11
8   Saramaccapolder  1.388114e+06     4.568149e+11
9            Kwatta  8.139809e+05     5.870454e+11
10     Weg naar Zee  5.031974e+05     5.176115e+11
11       Welgelegen  2.368878e+06     6.431412e+11
12          Centrum  2.076113e+07     8.171017e+11
13           Munder  3.807944e+05     4.310651e+11
14  De Nieuwe Grond  9.558088e+06     1.058459e+12
15          Livorno  1.758517e+07     3.508054e+11
16       Pontbuiten  2.159726e+06     3.722335e+11
17       Blauwgrond  2.022545e+07     1.084783e+12
18        Rainville  4.703029e+06     7.426912e+11

In [67]:
resorts_to_keep = list(df_resort_capital.resort.values)
df_resort_capital[['resort', 'dk_weighted', 'k_weighted']]

             resort   dk_weighted    k_weighted
0        Blauwgrond  1.124027e+07  3.567632e+07
1           Centrum  1.482491e+06  3.633690e+06
2   De Nieuwe Grond  1.102171e+06  3.031951e+06
3           Domburg  7.621918e+05  2.442162e+06
4             Flora  6.192900e+05  2.371345e+06
5           Livorno  2.069856e+05  3.763375e+05
6            Munder  9.194636e+06  2.370158e+07
7        Pontbuiten  2.138974e+06  5.726437e+06
8         Rainville  1.265357e+06  3.691796e+06
9          Tammenga  1.598133e+06  4.478424e+06
10     Weg naar Zee  2.774029e+05  1.028873e+06
11       Welgelegen  4.145935e+06  1.251902e+07

In [68]:
resorts_to_keep

['Blauwgrond',
 'Centrum',
 'De Nieuwe Grond',
 'Domburg',
 'Flora',
 'Livorno',
 'Munder',
 'Pontbuiten',
 'Rainville',
 'Tammenga',
 'Weg naar Zee',
 'Welgelegen']